$("ul.search_list").html("")
<% @patients.each do |patient| %>
  $("ul.search_list").append("<%= escape_javascript(render('patients/patient', patient: patient )) %>")
<% end %>


<table>
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>DoB Y/M/D</th>
    <th>Status</th>
    <th>Change Status</th>
    <th>Tasks</th>
  </tr>
  <% @hospital.patients.each do |patient| %>
    <tr class="patient_row">
      <td>
        <%= link_to patient.name, hospital_patient_path(patient.hospital_id, patient) %>
      </td>
      <td>
        <%= patient.gender %>
      </td>
      <td>
        <%= patient.birth %>
      </td>
      <td>
        <%= patient.workflow_state %>
      </td>
      <td class="workflow_state">
        <% case patient.workflow_state %>
        <% when "waiting" %>
          <%= link_to "See_Doctor!", see_doctor_hospital_patient_path(patient.hospital_id, patient), method: :put %>
          <%= link_to "To X-ray!", to_xray_hospital_patient_path(patient.hospital_id, patient), method: :put %>
          <%= link_to "To Surgery!", to_surgery_hospital_patient_path(patient.hospital_id, patient), method: :put %>
          <%= link_to "Check Out!", leave_hospital_patient_path(patient.hospital_id, patient), method: :put %>
        <% when "with_doctor" %>
          <%= link_to "To Waiting!", to_waiting_hospital_patient_path(patient.hospital_id, patient), method: :put %>
          <%= link_to "To X-ray!", to_xray_hospital_patient_path(patient.hospital_id, patient), method: :put %>
          <%= link_to "To Surgery!", to_surgery_hospital_patient_path(patient.hospital_id, patient), method: :put %>
          <%= link_to "To Billing!", to_billing_hospital_patient_path(patient.hospital_id, patient), method: :put %>
        <% when "in_xray" %>
          <%= link_to "See Doctor!", see_doctor_hospital_patient_path(patient.hospital_id, patient), method: :put %>
          <%= link_to "To Waiting!", to_waiting_hospital_patient_path(patient.hospital_id, patient), method: :put %>
          <%= link_to "To Surgery!", to_surgery_hospital_patient_path(patient.hospital_id, patient), method: :put %>
          <%= link_to "To Billing!", to_billing_hospital_patient_path(patient.hospital_id, patient), method: :put %>
        <% when "in_surgery" %>
          <%= link_to "See Doctor!", see_doctor_hospital_patient_path(patient.hospital_id, patient), method: :put %>
          <%= link_to "To Waiting!", to_waiting_hospital_patient_path(patient.hospital_id, patient), method: :put %>
          <%= link_to "To X-ray!", to_xray_hospital_patient_path(patient.hospital_id, patient), method: :put %>
          <%= link_to "To Billing!", to_billing_hospital_patient_path(patient.hospital_id, patient), method: :put %>
        <% when "paying" %>
          <%= link_to "Check Out!", leave_hospital_patient_path(patient.hospital_id, patient), method: :put %>
        <% when "leaving" %>
        <% end %>
      </td>
      <td>
        <%= link_to 'Edit', edit_hospital_patient_path(patient.hospital_id, patient) %>
      </td>
      <td>
        <%= link_to 'Destroy', hospital_patient_path(patient.hospital_id, patient), :method => :delete, :data => { :confirm => 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
