.container
  - @locations.each do |location|
    - markers = "#{location.latitude}%2C#{location.longitude}&"
    .row
      .col-md-6
        - if current_user.try(:admin?)
          = link_to "Edit", edit_location_path(location), :class=> "btn btn-info btn-xs"
          = link_to "Delete", location_path(location), method: :delete, :class=>"btn btn-danger btn-xs"
        %strong
          = link_to location.name, location_path(location)
        = location.address
      .col-md-6
        = image_tag "http://maps.google.com/maps/api/staticmap?size=300x200&sensor=false&markers=#{markers}"
  .row
    .col-md-6
      - if current_user.try(:admin?)
        = link_to "New Location", new_location_path, :class=>"btn btn-default btn-xs"
      = link_to "Back", root_path, :class=>"btn btn-default btn-xs"