- @enrollments.each do |enrollment|
  .col-md-12
    - if current_user.try(:admin?)
      = link_to "Edit", edit_enrollment_path(enrollment), :class=> "btn btn-info btn-xs"
      = link_to "Delete", enrollment_path(enrollment), method: :delete, :class=>"btn btn-danger btn-xs"
    %strong
      = link_to enrollment.cohort.location.name, location_path(enrollment.cohort.location)
    %em
      = link_to enrollment.cohort.course.title, course_path(enrollment.cohort.course)
      = enrollment.cohort.start_date
    = enrollment.cohort.course.description
    | taken by:
    = enrollment.user.email
.col-md-12
  - if current_user.try(:admin?)
    = link_to "New Enrollment", new_enrollment_path, :class=>"btn btn-default btn-xs"
  = link_to "Back", root_path, :class=>"btn btn-default btn-xs"