.container
  .row
    .col-md-6.col-xs-6
      .form-group
        = nested_form_for [@cohort, @assignment] do |f|
          - if  f.object.errors.messages.length > 0
            / Renders errors to user
            - f.object.errors.messages.inspect
            %br/
            - f.object.errors.messages.each do |key, value|
              - value.each do |message|
                = key.capitalize
                = message
                %br/
              %br/
          -if :cohort_id == nil
            = f.label :cohort_id, class: 'control-label'
            = f.select :cohort_id, Cohort.all.collect {|u| ["#{u.course.title}, #{u.location.name}, #{u.start_date}", u.id]}, class: 'form-control'
            %br
          - else
            = f.hidden_field :cohort_id, :value => @cohort.id
          = f.label :due_date, class: 'control-label'
          = f.date_field :due_date, class: 'form-control'
          %br
          = f.label :name, class: 'control-label'
          = f.text_field :name, class: 'form-control'
          %br
          = f.label :description, class: 'control-label'
          = f.text_area :description, class: 'form-control'
          %br
          = f.submit