<div class="row">
  <div class="span4"><a href="/create_post"><h1>Write Post</h1></a><br><hr></div>

  <div class="span8 offset4">...</div>
</div>

<!-- <a href="/create_post"><h1>Create Post</h1></a>
<br>
<hr> -->
<% @posts.reverse.each do |post| %>
<div class="row">
  <div class="span4">
    <a href="/display_post/<%= post.id %>">
      <!-- included an img because my griefer friend broke my edit link by not including a subject -->
      <img src="/img/post_it.png" height=20px alt="<%= post.subject %>"><br>
      <%= post.subject %>
    </a> - 
    <a href="mailto:<%= post.author_email %>"><%= post.author%></a><br>
    <h6>Created:
    <%= post.created_at %> -- -- Updated:
    <%= post.updated_at %></h6>
    </div>
    <div class="span8 offset4">
      <%= post.content %><br>
      <!-- <a href="/edit_post/<%= post.id %>" >Edit</a> -->
      <hr>
      <br>
    </div>
  </div>
<% end %>