/ %h1= @patient.name
/ \-
/ %h3= @patient.gender
/ \-
/ %h3
/   = @patient.birth
/ %ul
/   %li
/     = @patient.diagnosis
/ %br/
/ %hr/
/ %hr/
/ = link_to "Edit", edit_hospital_patient_path(@hospital, @patient)
/ |
/ \#{link_to "Delete", hospital_patient_path(@hospital, @patient), method: :delete}
/ \#{link_to "Back", hospital_path(@hospital)}



/ %h1= @hospital.name
/ \-
/ %h3= @hospital.capacity
/ \-
/ %ul
/   %li
/     = @hospital.description
/ %br/
/ %hr/
/ %hr/
/ = link_to "Edit", edit_hospital_path(@hospital)
/ |
/ \#{link_to "Delete", hospital_path(@hospital), method: :delete}
/ \#{link_to "Back", root_path}

%h3
  =@hospital.name
  Hospital 
  %br
  Patient:
  =@patient.name
  %br
Gender:
=@patient.gender
%br
Date of Birth:
=@patient.birth
%br
%ul
  %li= @patient.diagnosis
Status:
=@patient.workflow_state
%br
%td= link_to 'Edit', edit_hospital_patient_path(@patient.hospital_id, @patient)
|
%td= link_to 'Destroy', hospital_patient_path(@patient.hospital_id, @patient), :method => :delete, :data => { :confirm => 'Are you sure?' }
%table
  %tr
    %th Medication
    %th Prescribed Usage
  - @patient.medications.each do |medication|
    %tr
      %td= link_to medication.name, hospital_patient_medication_path(@hospital, @patient, medication)
      %td= medication.description
      %td= link_to 'Edit', edit_hospital_patient_medication_path(@hospital, @patient, medication)
      %td= link_to 'Destroy', hospital_patient_medication_path(@hospital, @patient, medication), :method => :delete, :data => { :confirm => 'Are you sure?' }
%hr
%br

= link_to 'Prescribe Medication!', new_hospital_patient_medication_path(@hospital, @patient)
%br
= link_to "Back to #{@hospital.name}! ", hospital_path(@hospital)