%h1 Affiliated Hospitals

= link_to "Create Hospital", new_hospital_path
%ul
  - @hospitals.each do |hospital|
    %li
      %strong
        = link_to hospital.name, hospital_path(hospital)
      | 
      %strong
        Max Capacity:
      = hospital.capacity
      |
      = hospital.description
      = link_to "Edit", edit_hospital_path(hospital)
      |
      = link_to 'Destroy', hospital_path(hospital), :method => :delete, :data => { :confirm => 'Are you sure?' }
= link_to "Back", root_path
