.col-md-12
  %strong
    = @cohort.course.title
  @
  %em
    = @cohort.location.name
  on:
  = @cohort.start_date
  %br
  - if current_user.try(:admin?)
    = link_to "New Assignment", new_assignment_path, :class=>"btn btn-default btn-xs"
.col-md-12
  %strong
    Assignments:
  %br
  %ul
    - @cohort.assignments.each do |f|
      %li
        = f.name
        %strong
          | due: 
        = f.due_date
        %strong
          | description: 
        = f.description
.col-md-12
  %strong
    Students:
  %br
  - @cohort.enrollments.each do |f|
    -if f.user.email
      .col-md-12
        = mail_to "#{f.user.email}", f.user.name
    %br